/* global rules */
body
{
    margin: 0px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    color: #ffffff;
    background-color: #404249;
}

/* links */
.no-focus-outline a:focus
{
    outline: none;
}

a
{
    color: #3eb2e7;
}

/* buttons */

.button
{
    text-decoration: none;
    border: none;
    padding: 0.3em;
    margin: auto;
    background: none;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
}

#homeButton
{
    font-size: 2.2em;
    padding: 0.1em;
    margin: 0.4em;
    margin-left: -0.1em;
}

.menuButton
{
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: solid 1px;
    border-radius: 1px;
    border-color: #3eb2e7;
}

.menuButton:hover
{
    border-color: #ffffff;
}

.menuButton:active
{
    color: #000000;
    border-color: #000000;
}

.iconButton
{
    width: 2em;
    height: 2em;
    margin: auto;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

header
{
    width: 100%;
    margin: auto;
    background-color: #3eb2e7;
}

#header-content
{
    width: 30cm;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header div
{
    display: flex;
}

header img
{
    max-width: 2em;
    max-height: 2em;
    margin: auto;
    margin-right: 0.5em;
    margin-left: 0.5em;
    cursor: pointer;
}

article
{
    width: 30cm;
    margin: auto;
}